.logo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 1000;
}
.social ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social ul li {
  position: relative;
  list-style: none;
}

.social ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}
