.menu ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
}
.menu ul li {
  position: relative;
  list-style: none;
}

.menu ul li a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}
